<mat-card *ngIf="userProfile; else loadingUserProfile" class="h-dashboard-clamp max-h-96 items-center my-8 p-4
  overflow-y-auto">
  <h1 class="text-2xl text-center my-4 w-heading-clamp border-b-2 border-gray-300">Welcome, {{userProfile.firstName}}!</h1>

  <div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>First Name</mat-label>
      <input matInput disabled [value]="userProfile.firstName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Last Name</mat-label>
      <input matInput disabled [value]="userProfile.lastName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput disabled [value]="userProfile.email">
    </mat-form-field>
  </div>
</mat-card>

<ng-template #loadingUserProfile>
  <span>Loading user profile...</span>
</ng-template>
