<mat-card *ngIf="userProfile; else loadingUserProfile" class="justify-between px-8 w-1/2">
  <h1 class="text-2xl mt-4">Welcome, {{userProfile.firstName}}!</h1>

  <div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>First Name</mat-label>
      <input matInput disabled [value]="userProfile.firstName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Last Name</mat-label>
      <input matInput disabled [value]="userProfile.lastName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput disabled [value]="userProfile.email">
    </mat-form-field>
  </div>
</mat-card>

<ng-template #loadingUserProfile>
  <span>Loading user profile...</span>
</ng-template>
