<div class="flex flex-col h-full justify-center mx-auto max-w-4xl text-center text-white">
  <mat-card class="h-dashboard-clamp overflow-y-auto mt-8 p-4 text-center text-black sm:text-2xl
      text-sm font-mono">
    <img ngSrc="assets/png/large-logo.png" height=100 width=256 class="mx-auto">

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold border-t-2 border-gray-200 pt-2">
      About us
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      We believe that finding and booking your favorite eateries should be a hassle-free and enjoyable experience. Our
      website is designed to simplify the process, allowing you to discover new dining destinations, explore
      mouthwatering menus, and conveniently manage your reservations all in one place.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      With our user-friendly interface, you can easily browse through a wide selection of eateries available in your
      area. Whether you're looking for a cozy café, a trendy restaurant, or a fine dining experience, we've got you
      covered. Our comprehensive list of eateries ensures that there's something to satisfy every palate.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      When you find a restaurant that catches your eye, dive right into their menu. Our platform provides detailed
      information about the dishes, including descriptions, prices, and even dietary options. You can explore the
      culinary delights on offer, plan your meal in advance, and make an informed decision about your dining experience.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      To enhance your overall experience, we've created a personalized user profile section. Your profile gives you
      access to your booking history, allowing you to keep track of your favorite spots and revisit those memorable
      dining experiences. It's the perfect tool to help you discover new culinary adventures while cherishing the ones
      you've already enjoyed.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      Booking a table has never been easier. Simply select the date, time, and party size, and we'll take care of the
      rest. Say goodbye to lengthy phone calls and frustrating reservation processes. With Bead, you can secure your
      table in just a few clicks, ensuring a seamless and stress-free dining experience.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      We understand the importance of feedback, so we encourage you to leave reviews and ratings for the eateries you
      visit. Your input helps us maintain the quality of our listings and assists other users in making informed
      decisions. We believe in fostering a vibrant community of food lovers who can share their experiences and
      recommendations, making dining out a pleasure for all.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      At Bead, we strive to provide you with the ultimate dining companion. We're dedicated to continually improving our
      platform and expanding our offerings, ensuring that your culinary adventures are always exciting and satisfying.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      Join us today and embark on a journey of flavors and delightful dining experiences. Bead is here to make your
      reservations effortless, your menus tantalizing, and your dining memories unforgettable.
    </p>
  </mat-card>
</div>
