<div class="authentication-background h-full flex">
  <form
    [formGroup]="loginForm"
    (submit)="onSubmit()"
    class="flex flex-col w-full max-w-xs gap-4 m-auto sm:mr-32 p-4 bg-white rounded-md shadow-md drop-shadow-lg"
  >
    <img ngSrc="assets/png/large-logo.png" height=100 width=256 class="mx-auto">

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email:</mat-label>

      <input
        matInput
        type="text"
        formControlName="email"
        placeholder="Your email"
        name="email"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input formControlName="password" name="password" matInput [type]="hide ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button class="bg-slate-400 text-white" type="submit" mat-button>Login</button>

    <p class="text-center">Don't have an account?
      <a class="text-slate-400 hover:underline" type="button" routerLink="/register">Register</a>
    </p>
  </form>
</div>
