<div class="flex flex-col h-full justify-center mx-auto max-w-4xl text-center text-white">
  <mat-card class="h-dashboard-clamp overflow-y-auto mt-8 p-4 text-center text-black sm:text-2xl
      text-sm font-mono">
    <img ngSrc="assets/png/large-logo.png" height=100 width=256 class="mx-auto">

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold border-t-2 border-gray-200 pt-2">
      Terms and Conditions
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      These Terms and Conditions ("Agreement") govern your use of Bead ("the Service") provided by Bead ("we," "us," or
      "our"). By accessing or using the Service, you agree to be bound by this Agreement.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      Account Creation and Usage
      1.1 You must create an account to use the Service. You agree to provide accurate and complete information during
      the registration process.
      1.2 You are solely responsible for maintaining the confidentiality of your account credentials and for any
      activity that occurs under your account.
      1.3 You must be at least 18 years old to create an account and use the Service.
      1.4 You agree to comply with all applicable laws and regulations while using the Service.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      Booking and Reservations
      2.1 The Service allows you to book tables and make reservations at eateries listed on our platform.
      2.2 We strive to provide accurate and up-to-date information about the eateries, including their availability and
      menus. However, we do not guarantee the availability of specific tables or dishes.
      2.3 You are responsible for providing accurate booking details, including the date, time, and party size.
      2.4 You may receive confirmation of your reservation via email or within the application. However, this
      confirmation does not guarantee the availability of your booking. We recommend contacting the eatery directly to
      confirm your reservation.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      Eateries and Menus
      3.1 We display information about eateries, including their menus, based on the data provided by the respective
      establishments. We strive to ensure the accuracy of this information, but we do not guarantee its completeness or
      correctness.
      3.2 Prices, availability, and menu items may vary and are subject to change without notice.
      3.3 We are not responsible for the quality of food, service, or any issues that may arise during your dining
      experience at the eateries listed on our platform. Any disputes or concerns should be addressed directly with the
      eatery.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      User Conduct
      4.1 You agree to use the Service in compliance with all applicable laws and regulations.
      4.2 You will not use the Service to:
      a. Violate any rights of others or engage in any unlawful activity.
      b. Post, transmit, or share any content that is defamatory, abusive, obscene, or violates any third-party rights.
      c. Engage in any fraudulent activity or attempt to deceive others.
      4.3 We reserve the right to suspend or terminate your account if we believe that you have violated any provision
      of this Agreement.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      Intellectual Property
      5.1 The Service and all its contents, including but not limited to logos, graphics, text, and software, are the
      property of [Your Company Name] and its licensors. You may not use, reproduce, or distribute any of these
      materials without our prior written consent.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      Limitation of Liability
      6.1 The Service is provided on an "as is" and "as available" basis. We make no warranties, expressed or implied,
      regarding the Service's availability, reliability, or suitability for your purposes.
      6.2 We shall not be liable for any indirect, consequential, or incidental damages arising out of your use or
      inability to use the Service, even if we have been advised of the possibility of such damages.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      Modifications to the Service
      7.1 We reserve the right to modify, suspend, or terminate the Service at any time without prior notice.
      7.2 We may also update or change this Agreement from time to time. The most current version will be available on
      our website, and your continued use of the Service after any changes indicates your acceptance of the updated
      Agreement.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      Governing Law and Jurisdiction
      8.1 This Agreement shall be governed by and construed in accordance with the laws of Romania. Any disputes
      arising out of or relating to this Agreement shall be resolved in the courts of Romania.
    </p>

    <p class="first-letter:text-5xl first-letter:text-accent first-letter:font-bold">
      By using the Service, you acknowledge that you have read, understood, and agreed to be bound by these Terms and
      Conditions. If you do not agree to these terms, please refrain from using the Service.
    </p>
  </mat-card>
</div>
